<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <script src="/bower_components/angular/angular.js"></script>
</head>
<body>

<p>Hello {{'world' + '!'}}</p>

</body>
</html>